.main-body {
    margin: 0;
}

@media (max-width: 576px) {
    /*  Navbar */
    .navbar-brand {
        font-size: 2rem !important;
    }
    .nav-item {
        font-size: 1rem;
    }
    /* End Navbar */

    /* Section slide */
    .section-slide::before {
        width: 100%;
        height: 120%;
    }
    .section-slide #carouselExampleControls {
        margin-top: 5rem;
    }
    .section-slide .detail-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }
    .detail-box h1 {
        font-size: 2rem;
    }
    .detail-box h1 span {
        font-size: 4rem;
    }
    .detail-box a {
        font-size: 1.2rem;
        margin: 3rem 0;
    }
    .detail-box a span {
        margin: 0;
    }
    .detail-box img {
        width: 3rem;
        margin-left: .5rem;
    }
    .section-slide .img-box {
        display: flex;
        justify-content: center;
    }
    .section-slide .img-box img {
        width: 95%;
        margin-top: 1.5rem;
    }
    .section-slide .carousel-btn-box {
        top: 55%;
    }
    /* Section slide */

    /* Start section about */
    .about-section {
        margin-top: 17rem;
    }
    .about-section .img-box {
        margin-top: 3rem;
    }
    .about-section .img-box img {
        width: 100%;
    }
    /* End section about */

    /* Start seciton prooduct */
    .product-section .container {
        padding-bottom: 1rem;
    }
    .head-content h1 {
        font-size: 2rem;
    }
    .head-content p {
        text-align: center;
    }
    .swiper-btn {
        position: absolute;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .swiper-button-next {
        right: calc(10% - 55px) !important;
    }
    .swiper-button-prev {
        left: calc(10% - 55px) !important;
    }
    .swiper-button-next::after, .swiper-button-prev:after {
        font-size: 1rem !important;
        font-weight: 800;
    }
    .swiper-button-brown {
        color: #46200b !important;
        padding: 1.5rem;
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 20px;
        transition: all .3s ease-in-out;
    }
    .swiper-button-brown:hover {
        color: #ffffff !important;
        background-color: #46200b;
    }
    /* End product section */

    /* Start offer section */
    .offer-section {
       padding: 7rem 1.5rem 0 1.5rem;
    }
    .offer-section .container {
        height: 25rem;
    }
    .offer-section .img-box img {
        position: absolute;
        top: 17rem;
        width: 100%;
    }
    /* End offer section */

    /* Start testimonial section */
    .testimonials-section {
        width: 100%;
    }
    .testimonials-section .container-fluid {
        padding: 0;
    }
    .testimonials-section .img-box .cup-choc {
        display: none;
    }
    .testimonials-section .testi-container {
        background-size: 100% 100%;
    }
    .testimonials-section .box {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    .testimonials-section .box .img-box {
        width: 155px;
        min-width: 155px;
        margin-left: 1.5rem;
        margin-top: 1rem;
    }
    .testimonials-section .box .img-box::before {
        width: 155px;
        height: 115px;
    }
    .testimonials-section .detail-box {
        margin-top: 3rem;
        width: 100%;
    }
    .testimonials-section .carousel-btn-box {
        flex-direction: row;
        top: 100%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
    .carousel-btn-box .carousel-control-prev,
    .carousel-btn-box .carousel-control-next {
        margin: 0 .5rem;
    }
}