@media only screen and (max-width: 576px) {
    .main-body {
        margin: 0;
    }    
    .hero-area {
        height: auto;
    }    

    /*  Navbar */
    .navbar-brand {
        font-size: 2rem !important;
    }
    .nav-item {
        font-size: 1rem;
    }
    /* End Navbar */

    /* Section slide */
    .section-slide::before {
        width: 100%;
        height: 120%;
    }
    .section-slide #carouselExampleControls {
        margin-top: 5rem;
    }
    .section-slide .detail-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }
    .detail-box h1 {
        font-size: 2rem;
    }
    .detail-box h1 span {
        font-size: 4rem;
    }
    .detail-box a {
        font-size: 1.2rem;
        margin: 3rem 0;
    }
    .detail-box a span {
        margin: 0;
    }
    .detail-box img {
        width: 3rem;
        margin-left: .5rem;
    }
    .section-slide .img-box {
        display: flex;
        justify-content: center;
    }
    .section-slide .img-box img {
        width: 95%;
        margin-top: 1.5rem;
    }
    .section-slide .carousel-btn-box {
        top: 55%;
    }
    /* Section slide */

    /* Section about */
    .about-section {
        margin-top: 7rem;
    }
    .about-section .img-box {
        margin-top: 3rem;
    }
    .about-section .img-box img {
        width: 100%;
    }
    /* End about */

    /* Seciton prooduct */
    .product-section .container {
        padding-bottom: 1rem;
    }
    .head-content h1 {
        font-size: 2rem;
    }
    .head-content p {
        text-align: center;
    }
    .swiper-btn {
        bottom: -2rem;
    }
    .swiper-button-next {
        right: calc(10% - 55px) !important;
    }
    .swiper-button-prev {
        left: calc(10% - 55px) !important;
    }
    .swiper-button-next::after, .swiper-button-prev:after {
        font-size: 1rem !important;
        font-weight: 800;
    }
    .swiper-button-brown {
        padding: 1.5rem;
    }
    /* End product section */

    /* Start offer section */
    .offer-section {
       padding: 7rem 1rem 0 1rem;
    }
    .offer-section .container {
        height: 25rem;
    }
    .offer-section .img-box img {
        position: absolute;
        top: 17rem;
        width: 100%;
    }
    /* End offer section */

    /* Start testimonial section */
    .testimonials-section {
        width: 100%;
    }
    .testimonials-section .container-fluid {
        padding: 0;
    }
    .testimonials-section .img-box .cup-choc {
        display: none;
    }
    .testimonials-section .testi-container {
        background-size: 100% 100%;
        padding: 3rem 0 8rem 0;
        height: 110%;
    }
    .testimonials-section .box {
        flex-direction: column;
        padding: 0;
    }
    .testimonials-section .box .img-box {
        width: 155px;
        min-width: 155px;
        margin-left: 1.5rem;
        margin-top: 1rem;
    }
    .testimonials-section .box .img-box::before {
        width: 155px;
        height: 115px;
    }
    .testimonials-section .detail-box {
        margin-top: 1rem;
        width: 100%;
    }
    .testimonials-section .carousel-btn-box {
        flex-direction: row;
        top: 100%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
    .testimonials-section .carousel-btn-box .carousel-control-prev,
    .testimonials-section .carousel-btn-box .carousel-control-next {
        margin: .3rem .5rem;
    }
    /* End testimonails */

    /* Contact us */
    .contact-section .head-content {
        margin: 0;
        margin-top: 4rem;
        margin-bottom: 1rem;        
    }
    .contact-section iframe {
        margin-top: 2rem;
        width: 100%;
    }
    /* End contact us */

    /* Footer */
    .footer-section .inform-social-row .icon-box {
        justify-content: center;
        margin-top: 1.5rem;
    }
    .footer-section .footer-content {
        text-align: center;
        margin-bottom: 2rem;
    }
    .footer-content .insta-box {
        flex-direction: column;
    }
    .footer-content .insta-box .img-box {
        margin-bottom: .5rem;
    }
    .footer-content .company {
        padding: 0 .8rem;
    }
    .footer-content .contact-footer {
        display: flex;
        flex-direction: column;
    }
    .contact-footer i {
        margin-bottom: 1rem;
    }
    /* End footer */
}

@media only screen and (min-width: 768px) {
    .hero-area {
        height: auto;
    }   

    /* Slide */
    .section-slide {
        padding: 5rem 0;
    }
    .section-slide::before {
        width: 80%;
    }
    .section-slide .detail-box {
        margin-left: 4rem;
    }
    .detail-box h1 {
        font-size: 3rem;
    }
    .detail-box h1 span {
        font-size: 6rem;
    }
    .section-slide::after {
        opacity: 0;
    }
    /* Section slide */

    /* About */
    .about-section .detail-box .head-content h1 {
        font-size: 2.2rem;
    }
    .about-section .img-box img {
        width: 100%;
    }
    /* End about */

    /* Product */
    .head-content h1 {
        font-size: 2.2rem;
    }
    .product-section .head-content p {
        text-align: center;
    }
    /* End Product */

    /* Offer */
    .offer-section {
        padding: 1rem;
        margin-top: 6rem;
    }

    /* Testimonial */
    .testimonials-section .img-box .cup-choc {
        display: none;
    }
    .testimonials-section .testi-container {
        background-size: 90% 100%;
        padding: 5rem 0 15rem 0;
    }
    .testimonials-section .box {
        padding: 0 7rem 0 .5rem;
    }
    .testimonials-section .box .img-box::before {
        height: 135px;
    }
    .testimonials-section .detail-box {
        margin-top: 2rem;
    }
    .testimonials-section .carousel-btn-box {
        flex-direction: row;
        top: 100%;
        left: 60%;
        transform: translateX(-50%);
    }
    .testimonials-section .carousel-btn-box .carousel-control-prev,
    .testimonials-section .carousel-btn-box .carousel-control-next {
        margin: .3rem .5rem;
    }
    /* End testimonails */
    
    /* Contact */
    .contact-section .head-content {
        display: flex;
        align-items: start;
        margin-left: 3.8rem;
    }
    .contact-section iframe {
        width: 100%;
        height: 80%;
    }
    /* End Contact */

    /* Footer */
    .footer-section .footer-content {
        margin-bottom: 1.5rem;
    }
    .footer-section .footer-content .contact-footer i {
        margin-bottom: 1.5rem;
    }
    /* End footer */
}

@media only screen and (min-width: 991px) {
    .hero-area {
        height: auto;
    }
    
    /* Slide */
    .section-slide {
        padding: 4.5rem 0;
    }
    .section-slide::before {
        width: 70%;
    }
    .section-slide .detail-box {
        margin-left: 0;
    }
    .detail-box h1 {
        font-size: 5rem;
    }
    .detail-box h1 span {
        font-size: 8rem;
    }
    .section-slide .img-box img {
        width: 80%;
    }
    .section-slide::after {
        opacity: 1;
        right: 4rem;
        height: 33rem;
    }
    /* End Slide */

    /* Testimonial */
    .testimonials-section .img-box .cup-choc {
        display: block;
    }
    .testimonials-section .detail-box h4 {
        font-size: 2.5rem;
    }
    .testimonials-section .detail-box p {
        font-size: 1.5rem;
    }
    .testimonials-section .carousel-btn-box {
        position: absolute;
        top: 55%;
        left: auto;
        right: 0;
        display: flex;
        flex-direction: column;
        transform: translateY(-50%);
        z-index: 3;
    }
    /* End testimonails */
}

@media only screen and (min-width: 1200px) {
    .hero-area {
        height: auto;
    }
    
    /* Slide */
    .section-slide {
        padding: 13.5rem 0;
    }
    .section-slide::before {
        width: 70%;
    }
    .section-slide .detail-box {
        margin-left: -10rem;
    }
    .detail-box h1 {
        font-size: 8rem;
    }
    .detail-box h1 span {
        font-size: 13rem;
    }
    .detail-box a {
        font-size: 2rem;
    }
    .detail-box img {
        width: 7rem;
        margin-left: .5rem;
    }
    .section-slide .img-box img {
        width: 85%;
    }
    .section-slide::after {
        opacity: 1;
        right: 10rem;
        width: 50rem;
        height: 39rem;
    }
    /* End Slide */

    /* Testimonial */
    .testimonials-section .testi-container {
        padding: 5rem 0 10rem 0;
    }
    .testimonials-section .img-box .cup-choc {
        display: block;
    }
    /* End testimonails */
}