@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.layout-padding {
    padding: 6rem 0;
}

.main-body {
    width: 100%;
    height: 100%;
    margin: 3rem;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 15px;
}
.hero-area {
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    position: relative;
}

/*  Navbar */
.navbar-brand {
    font-size: 2.2rem !important;
    font-family: "Lobster", sans-serif;
    margin-left: 2rem;
}
.nav-item {
    padding: 0 1.5rem;
    font-size: 1.3rem;
}
/* End Navbar */

/* Start section slide */
.section-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    background-position: top;
    background-size: cover;
    z-index: 2;
}
.section-slide .row {
    align-items: center;
}
.section-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-image: url("../images/slider-bg1.png");
    background-size: 100% 100%;
    z-index: 2;
}
.section-slide #carouselExampleControls {
    width: 100%;
    position: relative;
    z-index: 3;
}
.section-slide .detail-box {
    margin-left: 3rem;
    color: #ffffff;
}
.detail-box h1 {
    font-size: 3.5rem;
    font-family: "Lobster", sans-serif;
}
.detail-box h1 span {
    font-size: 8rem;
}
.detail-box a {
    font-size: 1rem;
    font-family: "Lobster", sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.detail-box a:hover {
    color: #ffffff;
}
.detail-box a span {
    margin: 2rem .5rem 0 3rem;
}
.detail-box img {
    width: 5rem;
}
.section-slide .img-box img {
    width: 90%;
}
.section-slide::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 1rem;
    width: 55rem;
    height: 40rem;
    background-image: url("../images/slider-bg2.png");
    background-size: 100% 100%;
    z-index: 1;
}
.section-slide .carousel-btn-box {
    position: absolute;
    top: 45%;
    left: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 3;
}
.carousel-btn-box .carousel-control-prev,
.carousel-btn-box .carousel-control-next {
    position: unset;
    width: 3.5rem;
    height: 3.5rem;
    opacity: 1;
    margin: .2rem 0;
    color: #a04120;
    background-color: #ffffff;
}
.fa-arrow-left,
.fa-arrow-right {
    font-size: 1.2rem;
    color: #a04120;
}
.fa-arrow-left:hover, 
.fa-arrow-right:hover {
    color: #46200b;
}
/* End section slide */

/* Start about section */
.about-section .detail-box p {
    font-size: 1.2rem;
}
.about-section .detail-box a {
    color: #46200b;
}
.about-section .detail-box span {
    margin-left: 0;
    margin-right: .5rem;
}
/* End about section */

/* Start product section */
.container {
    position: relative;
    padding-bottom: 3rem;
}
.head-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
    color: #000000;
}
.head-content h1{
    font-size: 3.5rem;
    font-family: "Lobster", sans-serif;
}
.head-content p {
    font-size: 1.3rem;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border: 1px solid #46200b;
    height: 25rem !important;
}
.swiper-slide .image-box {
    padding: 1.5rem;
    height: 15.5rem;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide .detail-box {
    background-color: #46200b;
    padding: 1.5rem 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
}
.swiper-slide .detail-box h1 {
    font-size: 1.5rem;
    color: #fff;
    font-family: sans-serif;
}
.swiper-slide .detail-box h1 span {
    font-size: 1.5rem;
    color: #a04120;
}
.swiper-slide a {
    font-family: sans-serif;
}
.swiper-slide:hover .detail-box {
    opacity: 1; 
}
.swiper-btn {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.swiper-button-next {
    right: calc(10% - 100px) !important;
}
.swiper-button-prev {
    left: calc(10% - 100px) !important;
}
.swiper-button-brown {
    color: #46200b !important;
    padding: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}