@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.layout-padding {
    padding-top: 6rem;
}

.main-body {
    width: 100%;
    height: 100%;
    margin: 3rem;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 15px;
}
.hero-area {
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    position: relative;
}

/*  Navbar */
.navbar-light .navbar-toggler {
    font-size: 2rem;
    color: #46200b !important;
    border: none !important;
}
.navbar-brand {
    font-size: 2.2rem !important;
    font-family: "Lobster", sans-serif;
    margin-left: 2rem;
}
.nav-item {
    padding: 0 1.5rem;
    font-size: 1.3rem;
}
/* End Navbar */

/* Start section slide */
.section-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    background-position: top;
    background-size: cover;
    z-index: 2;
}
.section-slide .row {
    align-items: center;
}
.section-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-image: url("../images/slider-bg1.png");
    background-size: 100% 100%;
    z-index: 2;
}
.section-slide #carouselExampleControls {
    width: 100%;
    position: relative;
    z-index: 3;
}
.section-slide .detail-box {
    margin-left: 3rem;
    color: #ffffff;
}
.detail-box h1 {
    font-size: 3.5rem;
    font-family: "Lobster", sans-serif;
}
.detail-box h1 span {
    font-size: 8rem;
}
.detail-box a {
    font-size: 1.2rem;
    font-family: "Lobster", sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.detail-box a:hover {
    color: #ffffff;
}
.detail-box a span {
    margin: 2rem .5rem 0 3rem;
}
.detail-box img {
    width: 5rem;
}
.section-slide .img-box img {
    width: 90%;
}
.section-slide::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 1rem;
    width: 45rem;
    height: 40rem;
    background-image: url("../images/slider-bg2.png");
    background-size: 100% 100%;
    z-index: 1;
}
.section-slide .carousel-btn-box {
    position: absolute;
    top: 45%;
    left: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 3;
}
.carousel-btn-box .carousel-control-prev,
.carousel-btn-box .carousel-control-next {
    position: unset;
    width: 3.5rem;
    height: 3.5rem;
    opacity: 1;
    margin: .2rem 0;
    color: #a04120;
    background-color: #ffffff;
}
.fa-arrow-left,
.fa-arrow-right {
    font-size: 1.2rem;
    color: #a04120;
}
.fa-arrow-left:hover, 
.fa-arrow-right:hover {
    color: #46200b;
}
/* End section slide */

/* Start about section */
.about-section .detail-box p {
    font-size: 1.2rem;
}
.about-section .detail-box a {
    color: #46200b;
}
.about-section .detail-box span {
    margin-left: 0;
    margin-right: .5rem;
}
.about-section .img-box {
    display: flex;
    justify-content: end;
}
/* End about section */

/* Start product section */
.container {
    position: relative;
    padding-bottom: 3rem;
}
.head-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
    color: #000000;
}
.head-content h1 {
    font-size: 3.5rem;
    font-family: "Lobster", sans-serif;
}
.head-content p {
    font-size: 1.3rem;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border: 1px solid #46200b;
    height: 25rem !important;
}
.swiper-slide .image-box {
    padding: 1.5rem;
    height: 15.5rem;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide .detail-box {
    background-color: #46200b;
    padding: 1.5rem 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
}
.swiper-slide .detail-box h1 {
    font-size: 1.5rem;
    color: #fff;
    font-family: sans-serif;
}
.swiper-slide .detail-box h1 span {
    font-size: 1.5rem;
    color: #a04120;
}
.swiper-slide a {
    font-family: sans-serif;
    font-size: 1.2rem;
}
.swiper-slide:hover .detail-box {
    opacity: 1; 
}
.swiper-btn {
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.swiper-button-next {
    right: calc(10% - 75px) !important;
}
.swiper-button-prev {
    left: calc(10% - 75px) !important;
}
.swiper-button-next::after, .swiper-button-prev:after {
    font-size: 1.5rem !important;
    font-weight: 800;
}
.swiper-button-brown {
    color: #46200b !important;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 20px;
    transition: all .3s ease-in-out;
}
.swiper-button-brown:hover {
    color: #ffffff !important;
    background-color: #46200b;
}
/* End product section */

/* Start offer section */
.offer-section .container {
    border: 1px solid #46200b;
    justify-content: flex-start;
    height: 35rem;
    position: relative;
}
.offer-section .head-content {
    margin-top: 3.5rem;
}
.offer-section .head-content h2 {
    font-family: "Lobster", sans-serif;
}
.offer-section .head-content button {
    background-color: #46200b;
    color: #ffffff;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    margin-top: 1.5rem;
    border: none;
    transition: all .3s ease-in-out;
}
.offer-section .head-content button:hover {
    font-weight: 600;
    color: #46200b;
    background-color: #ffffff;
    border: 1px solid #000000;
}
.offer-section .img-box {
    display: flex;
    justify-content: center;
}
.offer-section .img-box img {
    position: absolute;
    top: 20rem;
}
.offer-section .see-more {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}
.see-more a {
    font-family: "Lobster", sans-serif;
    text-decoration: none;
    color: #46200b;
    font-size: 1.2rem;
}
.see-more a:hover {
    color: #46200b;
}
.see-more a span img {
    width: 4rem;
}
/* End offer section */

/* Start testimonails */
.testimonials-section .img-box img {
    width: 100%;
}
.testimonials-section .testi-container {
    background-image: url(../images/client-bg.png);
    background-size: 90% 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    color: #fff;
    padding: 5rem 0 8rem 0;
}
.testimonials-section .head-content {
    color: #fff;
}
.testimonials-section .box {
    display: flex;
    align-items: flex-start;
    padding: 0 7rem 0 .5rem;
}
.testimonials-section .box .img-box {
    position: relative;
    width: 175px;
    min-width: 175px;
    margin-right: 1.5rem;
}
.testimonials-section .box .img-box::before {
    content: "";
    position: absolute;
    left: -1.5rem;
    bottom: -1.5rem;
    width: 175px;
    height: 175px;
    background-color: #fff;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.1);
}
.testimonials-section .box .img-box img {
    position: relative;
    z-index: 3;
}
.testimonials-section .detail-box h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2.5rem;
}
.testimonials-section .detail-box p {
    font-size: 1rem;
    font-weight: 500;
}
.testimonials-section .detail-box i {
    font-size: 2rem;
}
.testimonials-section .carousel-btn-box {
    position: absolute;
    top: 45%;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 3;
}
.carousel-btn-box .carousel-control-prev,
.carousel-btn-box .carousel-control-next {
    position: unset;
    width: 3.5rem;
    height: 3.5rem;
    opacity: 1;
    margin: .2rem 0;
    color: #a04120;
    background-color: #ffffff;
}
.fa-arrow-left,
.fa-arrow-right {
    font-size: 1.2rem;
    color: #a04120;
}
.fa-arrow-left:hover, 
.fa-arrow-right:hover {
    color: #46200b;
}

/* Start contact section */
.contact-section .head-content {
    display: flex;
    align-items: start;
    margin-left: 13.5rem;
}
.contact-section button {
    background-color: #46200b;
    color: #ffffff;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    margin-top: 1.5rem;
    border: none;
    transition: all .3s ease-in-out;
}
.contact-section button:hover {
    font-weight: 600;
    color: #46200b;
    background-color: #ffffff;
    border: 1px solid #000000;
}
/* End contact section */

/* Start footer contact */
.footer-section .footer-contain {
    padding-top: 2.5rem;
    background-color: #000000;
}
.footer-section .send-mail {
    padding: 1rem 1.8rem;
    background-color: #a04120;
    cursor: pointer;
}
.footer-section .send-mail i {
    color: #ffffff;
}
.footer-section .inform-social-row {
    align-items: center;
    margin-bottom: 2rem;
}
.footer-section .icon-box {
    display: flex;
    width: 100%;
}
.footer-section .icon-box i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
    width: 65px;
    height: 65px;
    color: #ffffff;
    padding: 1.4rem;
    border: 1.5px solid #ffffff;
    cursor: pointer;
}
.footer-section .footer-content {
    color: #ffffff;
}
.footer-content h3 {
   font-family: "Lobster", sans-serif;
}
.footer-content .menu-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}
.footer-content .menu-link a {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}
.footer-content .insta-box {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.footer-content .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    min-width: 65px;
    height: 65px;
    background-color: #ffffff;
    margin-right: 1rem;
}
.footer-content .insta-box:not(:nth-last-child(1)) {
    margin-bottom: .5rem;
}
.footer-section .footer-content .company p {
    font-size: 1.2rem;
    margin-top: 1rem;
}
.footer-section .contact-footer {
    color: #ffffff;
    margin-top: 1rem;
}
.contact-footer i {
    font-size: 1rem;
    margin-bottom: .5rem;
}
.contact-footer i span {
    margin-left: 1.5rem;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}
.copyright p {
    font-size: 1.1rem;
    margin-bottom: 0;
}